@page "/"
@using System.Globalization
@using Konyvelo.Data.Dtos

<h3>Currencies</h3>

<DataGrid TItem="GetCurrencyDto"
          Data="this._currencies"
          Editable
          EditMode="DataGridEditMode.Inline"
          Sortable
          SortMode="DataGridSortMode.Single"
          ShowPager
          ShowPageSizes
          Resizable
          Responsive
          Bordered
          Hoverable
          Narrow
          Groupable
          ShowGrouping
          ResizeMode="TableResizeMode.Columns"
          NewItemCreator="() => new GetCurrencyDto()"
          UseInternalEditing=false
          RowInserted="this.AddCurrency"
          RowUpdated="this.UpdateCurrency"
          RowRemoved="this.DeleteCurrency">
    <DataGridColumns>
        <DataGridColumn Field="@nameof(GetCurrencyDto.Code)" Caption="Code" Editable></DataGridColumn>
        <DataGridColumn Field="@nameof(GetCurrencyDto.Total)" Caption="Total">
            <DisplayTemplate>
                @context.Total.ToString("N", CultureInfo.CreateSpecificCulture("hu-HU")) @context.Code
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridCommandColumn PreventRowClick>
            <NewCommandTemplate>
                <Button Color="Color.Success" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </NewCommandTemplate>
            <EditCommandTemplate>
                <Button Color="Color.Primary" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </EditCommandTemplate>
            <SaveCommandTemplate>
                <Button Type="ButtonType.Submit" PreventDefaultOnSubmit Color="Color.Primary" Clicked="context.Clicked">@context.LocalizationString</Button>
            </SaveCommandTemplate>
            <DeleteCommandTemplate>
                <Button Color="Color.Danger" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </DeleteCommandTemplate>
            <CancelCommandTemplate>
                <Button Color="Color.Secondary" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </CancelCommandTemplate>
            <ClearFilterCommandTemplate>
                <Button Color="Color.Warning" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </ClearFilterCommandTemplate>
        </DataGridCommandColumn>
    </DataGridColumns>
</DataGrid>

<h3>Accounts</h3>

<DataGrid TItem="GetAccountDto"
          Data="this._accounts"
          Editable
          EditMode="DataGridEditMode.Inline"
          Sortable
          SortMode="DataGridSortMode.Single"
          ShowPager
          ShowPageSizes
          Resizable
          Responsive
          Bordered
          Hoverable
          Narrow
          Groupable
          ShowGrouping
          ResizeMode="TableResizeMode.Columns"
          UseInternalEditing=false
          RowInserted="this.AddAccount"
          RowUpdated="this.UpdateAccount"
          RowRemoved="this.DeleteAccount">
    <DataGridColumns>
        <DataGridColumn Field="@nameof(GetAccountDto.Name)" Caption="Name" Editable></DataGridColumn>
        <DataGridColumn Field="@nameof(GetAccountDto.CurrencyId)" Caption="Currency" Editable>
            <DisplayTemplate>
                @context.CurrencyCode
            </DisplayTemplate>
            <EditTemplate>
                <SelectList TItem="GetCurrencyDto"
                            TValue="int"
                            Data="this._currencies"
                            TextField="@(x => x.Code)"
                            ValueField="@(x => x.Id)"
                            SelectedValue="@((int)context.CellValue)"
                            SelectedValueChanged="@(x => context.CellValue = x)"
                            DefaultItemValue="0"
                            DefaultItemText="Select wallet"
                            DefaultItemDisabled=true>
                </SelectList>
            </EditTemplate>
        </DataGridColumn>
        @* TODO *@
        <DataGridColumn Field="@(nameof(GetAccountDto.Total))" Caption="Total calculated" TextAlignment="TextAlignment.End">
            <DisplayTemplate>
                @context.Total.ToString("N", CultureInfo.CreateSpecificCulture("hu-HU")) @context.CurrencyCode
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridCommandColumn PreventRowClick>
            <NewCommandTemplate>
                <Button Color="Color.Success" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </NewCommandTemplate>
            <EditCommandTemplate>
                <Button Color="Color.Primary" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </EditCommandTemplate>
            <SaveCommandTemplate>
                <Button Type="ButtonType.Submit" PreventDefaultOnSubmit Color="Color.Primary" Clicked="context.Clicked">@context.LocalizationString</Button>
            </SaveCommandTemplate>
            <DeleteCommandTemplate>
                <Button Color="Color.Danger" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </DeleteCommandTemplate>
            <CancelCommandTemplate>
                <Button Color="Color.Secondary" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </CancelCommandTemplate>
            <ClearFilterCommandTemplate>
                <Button Color="Color.Warning" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </ClearFilterCommandTemplate>
        </DataGridCommandColumn>
    </DataGridColumns>
</DataGrid>

@code
{
    private List<GetCurrencyDto> _currencies = [];
    private List<GetAccountDto> _accounts = [];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await LoadCurrencies();
        await LoadAccounts();
    }

    private async Task LoadCurrencies()
    {
        _currencies = await _konyveloService.GetAllCurrenciesAsync();
    }

    private async Task LoadAccounts()
    {
        _accounts = await _konyveloService.GetAllAccountsAsync();
    }

    private async Task AddCurrency(SavedRowItem<GetCurrencyDto, Dictionary<string, object>> savedRowItem)
    {
        var currency = savedRowItem.Item;
        await _konyveloService.CreateCurrencyAsync(new CreateCurrencyDto()
        {
            Code = currency.Code
        });

        await LoadCurrencies();
    }

    private async Task AddAccount(SavedRowItem<GetAccountDto, Dictionary<string, object>> savedRowItem)
    {
        var account = savedRowItem.Item;
        await _konyveloService.CreateAccountAsync(new CreateAccountDto()
        {
            CurrencyId = account.CurrencyId,
            Name = account.Name
        });

        await LoadAccounts();
    }

    private async Task UpdateCurrency(SavedRowItem<GetCurrencyDto, Dictionary<string, object>> savedRowItem)
    {
        var currency = savedRowItem.Item;
        var changes = savedRowItem.Values;
        foreach (var change in changes)
        {
            var property = currency.GetType().GetProperty(change.Key);
            property?.SetValue(currency, change.Value);
        }

        await _konyveloService.UpdateCurrencyAsync(new UpdateCurrencyDto()
        {
            Code = currency.Code,
            Id = currency.Id
        });
        await LoadCurrencies();
    }

    private async Task UpdateAccount(SavedRowItem<GetAccountDto, Dictionary<string, object>> savedRowItem)
    {
        var account = savedRowItem.Item;
        var changes = savedRowItem.Values;
        foreach (var change in changes)
        {
            var property = account.GetType().GetProperty(change.Key);
            property?.SetValue(account, change.Value);
        }

        await _konyveloService.UpdateAccountAsync(new UpdateAccountDto()
        {
            CurrencyId = account.CurrencyId,
            Id = account.Id,
            Name = account.Name
        });
        await LoadAccounts();
    }

    private async Task DeleteCurrency(GetCurrencyDto currency)
    {
        await _konyveloService.DeleteCurrencyAsync(currency.Id);
        await LoadCurrencies();
    }

    private async Task DeleteAccount(GetAccountDto account)
    {
        await _konyveloService.DeleteAccountAsync(account.Id);
        await LoadAccounts();
    }
}
