@page "/pivot"
@using System.Globalization;
@using Konyvelo.Logic.Dtos

<h3>Pivot</h3>

<Row VerticalGutter="16">

</Row>
<Row VerticalGutter="16">
    <Column ColumnSize="ColumnSize.IsHalf">
        <Column>
            <DatePicker TValue="@DateOnly"
                        Date="@this.begin"
                        DateChanged="@(async x => { this.begin = x; await this.UpdatePivot(); })">
            </DatePicker>
        </Column>
        <Column>
            <DatePicker TValue="@DateOnly"
                        Date="@this.end"
                        DateChanged="@(async x => { this.end = x; await this.UpdatePivot(); })">
            </DatePicker>
        </Column>
        <Column>
            <Buttons>
                <Button @onclick=@(async () => await this.PreviousMonth()) Outline=true TextAlignment="TextAlignment.Center" Color="Color.Primary">Previous month</Button>
                <Button @onclick=@(async () => await this.CurrentMonth()) Outline=true TextAlignment="TextAlignment.Center" Color="Color.Primary">Current month</Button>
                <Button @onclick=@(async () => await this.NextMonth()) Outline=true TextAlignment="TextAlignment.Center" Color="Color.Primary">Next month</Button>
            </Buttons>
        </Column>
        <Column>
            <Buttons>
                <Button @onclick=@(async () => await this.PreviousYear()) Outline=true TextAlignment="TextAlignment.Center" Color="Color.Primary">Previous year</Button>
                <Button @onclick=@(async () => await this.CurrentYear()) Outline=true TextAlignment="TextAlignment.Center" Color="Color.Primary">Current year</Button>
                <Button @onclick=@(async () => await this.NextYear()) Outline=true TextAlignment="TextAlignment.Center" Color="Color.Primary">Next year</Button>
            </Buttons>
        </Column>
        <Column>
            <Button @onclick=@(async () => await this.AllTime()) Outline=true TextAlignment="TextAlignment.Center" Color="Color.Primary">Alltime</Button>
        </Column>
        <Column>
            <Table>
                <TableRow>
                    <TableHeaderCell>
                        <b>TOTAL</b>
                    </TableHeaderCell>
                </TableRow>
                @foreach (var grandTotal in _grandTotalDtos)
                {
                    <TableRow>
                        <TableRowCell TextAlignment="TextAlignment.End">
                            @grandTotal.GrandTotal.ToString("N", CultureInfo.CreateSpecificCulture("hu-HU")) @grandTotal.CurrencyCode
                        </TableRowCell>
                    </TableRow>
                }
            </Table>
        </Column>
    </Column>
    <Column ColumnSize="ColumnSize.IsHalf">
        <Table Responsive
               FixedHeader
               FixedHeaderTableMaxHeight="800px"
               FixedHeaderTableHeight="800px">
            <TableHeader>
                <TableHeaderCell>Category</TableHeaderCell>
                <TableHeaderCell TextAlignment="TextAlignment.End">Sum</TableHeaderCell>
            </TableHeader>
            @if (this.pivotTransactions?.Count > 0)
            {
                <TableBody>
                    @foreach (var pivotTransaction in this.pivotTransactions)
                    {
                        <TableRowGroup Expanded=true>
                            <TitleTemplate>
                                <Table>
                                    <TableHeader>
                                        <TableHeaderCell>@pivotTransaction.Category</TableHeaderCell>
                                    </TableHeader>
                                </Table>
                            </TitleTemplate>
                            <ChildContent>
                                @foreach (var currency in pivotTransaction.Transactions)
                                {
                                    <TableRow>
                                        <TableRowCell>@currency.CurrencyTotal.ToString("N", CultureInfo.CreateSpecificCulture("hu-HU")) @currency.CurrencyCode</TableRowCell>
                                    </TableRow>
                                }
                            </ChildContent>
                        </TableRowGroup>
                    }
                </TableBody>
            }
        </Table>
    </Column>
</Row>

@code{

    private List<PivotTransactionCategory> pivotTransactions = [];
    private List<GrandTotalDto> _grandTotalDtos = [];
    private DateOnly begin = new DateOnly(DateTime.Today.Year, DateTime.Today.Month, 1);

    private DateOnly end = new DateOnly(DateTime.Today.Year, DateTime.Today.Month,
        DateTime.DaysInMonth(DateTime.Today.Year, DateTime.Today.Month));

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await UpdatePivot();
    }

    private async Task UpdatePivot()
    {
        var pivot = await _konyveloService.GetAllPivotTransactionsAsync(this.begin, this.end);
        this.pivotTransactions = pivot.DisplayTransactions;
        _grandTotalDtos = pivot.GrandTotals;
    }

    private async Task PreviousMonth()
    {
        if (begin.Month == 1)
        {
            begin = new(begin.Year - 1, 12, 1);
            end = new(end.Year - 1, 12, DateTime.DaysInMonth(end.Year - 1, 12));
        }
        else
        {
            begin = new(begin.Year, begin.Month - 1, 1);
            end = new(end.Year, end.Month - 1, DateTime.DaysInMonth(end.Year, end.Month - 1));
        }

        await UpdatePivot();
    }

    private async Task NextMonth()
    {
        if (begin.Month == 12)
        {
            begin = new(begin.Year + 1, 1, 1);
            end = new(end.Year + 1, 1, DateTime.DaysInMonth(end.Year + 1, 1));
        }
        else
        {
            begin = new(begin.Year, begin.Month + 1, 1);
            end = new(end.Year, end.Month + 1, DateTime.DaysInMonth(end.Year, end.Month + 1));
        }

        await UpdatePivot();
    }

    private async Task AllTime()
    {
        var firstDate = await _konyveloService.GetFirstTransactionDate();
        begin = firstDate;
        end = new DateOnly(DateTime.Today.Year, DateTime.Today.Month,
            DateTime.DaysInMonth(DateTime.Today.Year, DateTime.Today.Month));
        await UpdatePivot();
    }

    private async Task CurrentMonth()
    {
        begin = new DateOnly(DateTime.Today.Year, DateTime.Today.Month, 1);
        end = new DateOnly(DateTime.Today.Year, DateTime.Today.Month,
            DateTime.DaysInMonth(DateTime.Today.Year, DateTime.Today.Month));
        await UpdatePivot();
    }

    private async Task CurrentYear()
    {
        begin = new(DateTime.Today.Year, 1, 1);
        end = new(DateTime.Today.Year, 12, 31);
        await UpdatePivot();
    }

    private async Task PreviousYear()
    {
        begin = new(begin.Year - 1, 1, 1);
        end = new(end.Year - 1, 12, 31);
        await UpdatePivot();
    }

    private async Task NextYear()
    {
        begin = new(begin.Year + 1, 1, 1);
        end = new(end.Year + 1, 12, 31);
        await UpdatePivot();
    }

}