@page "/Transfers"
@using System.Globalization
@using Konyvelo.Logic.Dtos
<h3>Transfers</h3>

<Form Margin="Margin.IsAuto.OnX" Padding="Padding.Is5.OnX" Width="Width.Is50">
    <Field>
        <FieldLabel>From</FieldLabel>
        <FieldBody>
            <SelectList TItem="GetAccountDto"
                        TValue="int"
                        Data="@_accountDtos"
                        TextField="AccountDisplay"
                        ValueField="@(x => x.Id)"
                        @bind-SelectedValue="@(_dto.FromAccountId)">
            </SelectList>
        </FieldBody>
    </Field>
    <Field>
        <FieldLabel>To</FieldLabel>
        <FieldBody>
            <SelectList TItem="GetAccountDto"
                        TValue="int"
                        Data="@_accountDtos"
                        TextField="AccountDisplay"
                        ValueField="@(x => x.Id)"
                        @bind-SelectedValue="@(_dto.ToAccountId)">
            </SelectList>
        </FieldBody>
    </Field>
    <Field>
        <FieldLabel>Date</FieldLabel>
        <FieldBody>
            <DateEdit TValue="DateOnly"
                      Date="_dto.Date">
            </DateEdit>
        </FieldBody>
    </Field>
    <Field>
        <FieldLabel>Total</FieldLabel>
        <FieldBody>
            <NumericPicker TValue="decimal"
                           @bind-Value="_dto.Total"
                           Min="1">
            </NumericPicker>
        </FieldBody>
    </Field>
    <Field>
        <FieldLabel>Category</FieldLabel>
        <FieldBody>
            <TextEdit TValue="string"
                      @bind-Value="_dto.Category"
                      Text="@_dto.Category"
                      TextChanged="s => _dto.Category = s">
            </TextEdit>
        </FieldBody>
    </Field>
    <Field>
        <FieldLabel>Info</FieldLabel>
        <FieldBody>
            <TextEdit TValue="string?"
                      @bind-Value="_dto.Info"
                      Text="@_dto.Info"
                      TextChanged="s => _dto.Info = s">
            </TextEdit>
        </FieldBody>
    </Field>
    <Field>
        <Button Color="Color.Primary" Clicked="async () => await this.SaveAsync()" Disabled="!Enabled">
            Save
        </Button>
    </Field>
</Form>

@code {
    private CreateTransferDto _dto = new();
    private List<GetAccountDto> _accountDtos = [];
    private bool _loaded = false;
    private bool Enabled => _loaded && _accountDtos.Count >= 2 && _dto.FromAccountId != _dto.ToAccountId;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _accountDtos = await _konyveloService.GetAllAccountsAsync();

        if (_accountDtos.Count >= 2)
        {
            _dto.FromAccountId = _accountDtos[0].Id;
            _dto.ToAccountId = _accountDtos[1].Id;
            _loaded = true;
        }
    }

    private Func<GetAccountDto, string> AccountDisplay => x
        => $"{x.Name} - {x.Total.ToString("N", CultureInfo.CreateSpecificCulture("hu-HU"))} {x.CurrencyCode}";

    private async Task SaveAsync()
    {
        await _konyveloService.CreateTransferAsync(_dto);
    }

}