@page "/currencies-wallets"
@using Konyvelo.Logic.Crud.Currencies;
@using Konyvelo.Logic.Domain;
@using System.Reflection;

<h3>CurrenciesAndWallets</h3>

<DataGrid TItem="Currency"
          Data="this._currencies"
          Editable
          EditMode="DataGridEditMode.Inline"
          Sortable
          SortMode="DataGridSortMode.Single"
          ShowPager
          ShowPageSizes
          Resizable
          Responsive
          Bordered
          Hoverable
          Narrow
          Groupable
          ShowGrouping
          ResizeMode="TableResizeMode.Columns"
          NewItemCreator="() => new Currency()"
          UseInternalEditing=false
          RowInserted="this.AddCurrency"
          RowUpdated="this.UpdateCurrency"
          RowRemoved="this.DeleteCurrency">
    <DataGridColumns>
        <DataGridColumn Field="@nameof(Currency.Name)" Editable></DataGridColumn>
        <DataGridColumn Field="@nameof(Currency.Code)" Editable></DataGridColumn>
        <DataGridCommandColumn PreventRowClick>
            <NewCommandTemplate>
                <Button Color="Color.Success" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </NewCommandTemplate>
            <EditCommandTemplate>
                <Button Color="Color.Primary" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </EditCommandTemplate>
            <SaveCommandTemplate>
                <Button Type="ButtonType.Submit" PreventDefaultOnSubmit Color="Color.Primary" Clicked="context.Clicked">@context.LocalizationString</Button>
            </SaveCommandTemplate>
            <DeleteCommandTemplate>
                <Button Color="Color.Danger" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </DeleteCommandTemplate>
            <CancelCommandTemplate>
                <Button Color="Color.Secondary" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </CancelCommandTemplate>
            <ClearFilterCommandTemplate>
                <Button Color="Color.Warning" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </ClearFilterCommandTemplate>
        </DataGridCommandColumn>
    </DataGridColumns>
</DataGrid>


@code {
    private Currency? _newCurrency = null;
    private List<Currency> _currencies = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await LoadCurrencies();
    }

    private async Task LoadCurrencies()
    {
        _currencies = await _mediator.Send(new GetAllCurrenciesQuery());
    }

    private async Task AddCurrency(SavedRowItem<Currency, Dictionary<string, object>> savedRowItem)
    {
        var currency = savedRowItem.Item;
        await _mediator.Send(new CreateCurrencyCommand()
            {
                Source = currency
            });

        await LoadCurrencies();
    }

    private async Task UpdateCurrency(SavedRowItem<Currency, Dictionary<string, object>> savedRowItem)
    {
        var currency = savedRowItem.Item;
        var changes = savedRowItem.Values;
        foreach (var change in changes)
        {
            var property = currency.GetType().GetProperty(change.Key);
            property?.SetValue(currency, change.Value);
        }
        await _mediator.Send(new UpdateCurrencyCommand()
            {
                Source = currency
            });
        await LoadCurrencies();
    }

    private async Task DeleteCurrency(Currency currency)
    {
        await _mediator.Send(new DeleteCurrencyCommand() { Id = currency.Id });
        await LoadCurrencies();
    }
}
